<div class="header">
<!-- <div id="particles-js"> -->
<nav class="navbar bd-navbar navbar is-spaced has-shadow has-background-black has-text-white" role="navigation" aria-label="main navigation">
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item" href="/">
         <img src="./images/LOGO.PNG" width="160" height="150">
         </a>
         <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
         </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu ">
         <div class="navbar-end">
            <div class="navbar-item">
               <div class="buttons">
                  <a class="button is-link is-inverted is-outlined" href="/about-us">
                  <strong>About Us</strong>
                  </a>
                  <a class="button is-link is-inverted is-outlined" href="/my-account">
                  <strong>My Account</strong>
                  </a>
                  <a class="button is-dark" href="/login">
                  Log in / SignUp
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</nav>