<%- include('./includes/header.ejs') %>
</head>
<body>
   <%- include('./includes/nav.ejs') %>
   <main class="container bd- main pt-6">
      <div class="columns is-mobile">
      <div class="column"></div>
      <div class="column is-two-thirds">
         <div class="card">
            <div class="card-image">
               <figure class="image is-2by1">
                  <img src="https://cdn.dribbble.com/users/1078347/screenshots/2799566/oops.png" alt="Placeholder image">
               </figure>
            </div>
            <div class="card-content">
               <p class="title">
                  We got the error report and are fixing it. Sorry for the trouble!
               </p>
            </div>
         </div>
      </div>
      <div class="column"></div>
   </main>
   <%- include('./includes/footer.ejs') %>