<%- include('./includes/header.ejs') %>
</head>
<body>
   <%- include('./includes/nav.ejs') %>
   <main class="container bd- main pt-6">
      <div class="columns">
         <div class="column"></div>
         <div class="column is-half">
            <div class="card">
               <div class="card-content">
                  <div class="columns">
                     <div class="column"></div>
                     <div class="column is-three-quarters">
                        <figure class="image is-rectangle">
                           <img src="./images/LOGO.png">
                        </figure>
                     </div>
                     <div class="column"></div>
                  </div>
                  <p class="title">
                     “The Web as I envisaged it, we have not seen it yet. The future is still so much bigger than the past.”
                  </p>
                  <p class="subtitle is-4 pt-3 mb-0">
                     VidCaller Pvt. Ltd.
                  <p class="subtitle is-6">Empowering People At Home</p>
                  </p>
                  <p>
                     <i class="fa fa-phone fa-rotate-90" aria-hidden="true"></i>
                     Contact Us: +91 12345 56789 
                     <br>
                     <i class="fa fa-envelope" aria-hidden="true"></i>
                     Email: vidcaller@email.com
                  </p>
               </div>
               <footer class="card-footer">
                  <p class="card-footer-item">
                     <span>
                     Follow Us On <a href="https://twitter.com/" target="_blank">Twitter</a>
                     </span>
                  </p>
                  <p class="card-footer-item">
                     <span>
                     Follow Us On <a href="https://facebook.com/" target="_blank">Facebook</a>
                     </span>
                  </p>
               </footer>
            </div>
         </div>
         <div class="column"></div>
      </div>
   </main>
   <%- include('./includes/footer.ejs') %>