<%- include('./includes/header.ejs') %>
</head>
<body>
   <%- include('./includes/nav.ejs') %>
   <main class="container bd- main pt-6">
      <div class="columns">
         <div class="column is-two-thirds pr-6">
            <div class="card">
               <div class="card-image">
                  <figure class="image">
                     <img src="./images/Video.PNG">
                  </figure>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <div class="card-content">
                  <p class="title">
                     Quality Video Calls...
                  </p>
                  <p class="subtitle">
                     Now Free!
                  </p>
                  <div class="columns is-mobile">
                     <div class="column control is-two-thirds">
                        <input class="input is-hovered" type="text" placeholder="Enter Room Id">
                     </div>
                     <div class="column">
                        <button class="button is-outlined">Join</button>
                     </div>
                  </div>
                  <div class="columns is-mobile is-centered">
                     <div class="column is-half">
                        <p class="bd-notification is-primary ml-2">  OR</p>
                     </div>
                  </div>
                  <div class="columns is-mobile">
                     <div class="column is-three-quarters is-three-fifths is-offset-1">
                        <button class="button is-black">Create A New Room</button>
                     </div>
                     <div class="column"></div>
                     <div class="column"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </main>
   <%- include('./includes/footer.ejs') %>