<%- include('./includes/header.ejs') %>
</head>
<body>
   <%- include('./includes/nav.ejs') %>
   <main class="container bd- main pt-6">
      <div class="columns">
         <div class="column"></div>
         <div class="column is-three-quarters">
            <div class="card">
               <div class="card-content">
                  <div class="columns">
                     <div class="column">
                        <p class="title">
                           Log In
                        </p>
                        <div class="field">
                           <label class="label">Email</label>
                           <div class="control has-icons-left has-icons-right">
                              <input class="input" type="email" placeholder="Email input" value="hello@">
                              <span class="icon is-small is-left">
                              <i class="fas fa-envelope"></i>
                              </span>
                           </div>
                        </div>
                        <div class="field">
                           <label class="label">Password</label>
                           <p class="control has-icons-left">
                              <input class="input" type="password" placeholder="Password">
                              <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                              </span>
                           </p>
                        </div>
                        <div class="field">
                           <p class="control">
                              <button class="button is-black mt-3">
                              Login
                              </button>
                           </p>
                        </div>
                     </div>
                     <div class="is-divider-vertical" data-content="OR"></div>
                     <div class="column">
                        <p class="title">
                           Sign Up
                        </p>
                        <div class="field">
                           <label class="label">Enter Email</label>
                           <div class="control has-icons-left has-icons-right">
                              <input class="input" type="email" placeholder="Email input" value="hello@">
                              <span class="icon is-small is-left">
                              <i class="fas fa-envelope"></i>
                              </span>
                           </div>
                        </div>
                        <div class="field">
                           <label class="label">Enter Password</label>
                           <p class="control has-icons-left">
                              <input class="input" type="password" placeholder="Password">
                              <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                              </span>
                           </p>
                        </div>
                        <div class="field">
                           <label class="label">Confirm Password</label>
                           <p class="control has-icons-left">
                              <input class="input" type="password" placeholder="Password">
                              <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                              </span>
                           </p>
                        </div>
                        <div class="field">
                           <p class="control">
                              <button class="button is-black mt-3">
                              Sign Up
                              </button>
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="column"></div>
      </div>
      </div>
   </main>
   <%- include('./includes/footer.ejs') %>